.DS_Store
*.sublime-project
*.sublime-workspace
*.log
.serverless
v8-compile-cache-*
jest/*
coverage
node_modules
.vscode/
.eslintcache
dist
.idea
build/
.env
.cache*
env.js
tmp
package-lock.json
yarn.lock
test
.npmrc
.next