# Your Tencent Cloud account API key credentials from https://console.cloud.tencent.com/cam/capi
# If you don't have a Tencent Cloud account already, sign up here https://intl.cloud.tencent.com/register
TENCENT_SECRET_ID=1234
TENCENT_SECRET_KEY=4321
