This template uses PIL (Python Imaging Library) as dependency. You must first install it
using the CLI command "pip install Pillow".

To use this template, you also need to replace the credentials information in the
Thumbnail.py file and .env file.
